* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #c7f9cc;
    color: #22577a;
}

/* ======================
   Typography 
   ====================== */

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1em;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1em;
}

/* ======================
   Layout 
   ====================== */

.container {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    gap: 8px;
    justify-content: center;
    margin: 40px auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87bba2;
    font-size: 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box i {
    pointer-events: none;
}

.player-1 {
    background-color: #dc685a;
    color: white;
    transition: ease-in 0.2s;
}

.player-2 {
    background-color: #ecaf4f;
    color: white;
    transition: ease-in 0.2s;
}

/* Hover effect for non-touchscreen devices */
@media only screen and (hover: hover){
    .box:hover {
        background-color: white;
        color: #717684;
        opacity: 0.8;
        box-shadow: 3px 3px 1px black;
        transform: scale(1.04,1.04);
    }
}

.popup {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#winningMessage {
    color: #2c363f;
    font-size: 2rem;
    font-weight: 700;
    margin: 10px 0;
}

#new-game {
    width: 125px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    background-color: black;
    color: white;
    cursor: pointer;
    border: none;
}

.hide {
    display: none;
}

.disabled {
    pointer-events: none;
}

@media (min-width: 600px) {

    h1 {
        font-size: 3.5rem;
    }
    .box {
        font-size: 5rem;
        border-radius: 10px;
    }

    #message {
        font-size: 3rem;
    }

    .popup {
        gap: 3rem;
    }
}

